/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Body Styles */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 1440px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid red;
    margin: auto;
}

.primary-color {
    color: #3A3A3A;
}

/* Header Section Styles */
/* Logo & Nav Bar Part */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px;
}

.logo-title {
    font-weight: 700;
    font-size: 24px;
}

.navbar-list {
    display: flex;
    gap: 34px;
}

.navbar-list li {
    list-style: none;
}

.navbar-list li a {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

/* Display Part */
.display {
    display: flex;
    padding: 0px 120px;
}

.display-info {
    width: 582px;
    height: 270px;
}

.display-title {
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 16px;
}

.display-description {
    font-weight: 600;
    font-size: 16px;
    margin: 0px 17px 16px 0px;
}

.btn {
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border: none;
    border-radius: 41px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
}

.btn .fa-solid {
    margin-left: 8px;
}

.display-image {
    width: 475px;
    height: 475px;
    background-image: url(../images/main-camera.png), url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    margin-left: 133px;
}